node_modules/
venv/
dist/
build/
*.pyc

# ==================================
# Python Caches & Virtual Environments
# ==================================
__pycache__/
venv/
deactivate/
*.pyc

# ==================================
# Editor-specific files
# ==================================
.vs/
.vscode/

# ==================================
# Node.js / npm
# ==================================
node_modules/
package-lock.json
package.json